<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
    <div class="d-flex bd-highlight  container-fluid">
        <a class="navbar-brand" routerLinkActive="active" routerLink="/">Wink Worthy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <ng-container *ngIf="accountService.currentUser$ | async">
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="/members">Matches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="/lists">List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="/messages">Messages</a>
                    </li>
                </ng-container>

            </ul>



            <div class="dropdown me-auto" *ngIf="( accountService.currentUser$| async) as user" dropdown>
                <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.username | titlecase}}</a>
                <div class="dropdown-menu" *dropdownMenu>
                    <a class="dropdown-item">Edit Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </div>
            <form *ngIf="(accountService.currentUser$ | async)===null" #loginForm="ngForm"
                class="form-inline mt-2 mt-md-0 ml-auto" (ngSubmit)="login()" autocomplete="off">
                <input name="username" [(ngModel)]="model.username" class="form-control mr-sm-2" type="text"
                    placeholder="Username" aria-label="Search">
                <input name="password" [(ngModel)]="model.password" class="form-control mr-sm-2" type="password"
                    placeholder="Password" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Login</button>
            </form>
        </div>
    </div>
</nav>